<% provide :title, t("room") %>
<div>
  <h1><%= t("room") %></h1>
  <%= link_to t("add_room"), new_room_path, class: "btn btn-primary" %>
</div>
<div class="row order">
  <% @rooms.each do |room| %>
    <div id="table-a" class="col-xs-4 col-sm-3 col-md-2">
      <%= link_to room_path room.id do %>
        <% if room.active? %>
          <div class="tables text-center" id="room-active">
            <div class="status">
              <div class="status-table">
                <p class="text-center"><%= room.name %></p>
              </div>
            </div>       
            <i class="fa fa-home"></i>         
          <p><%= t("status") %>: <%= room.status %> </p> 
          <% if room.paymented? %>
            <p><%= t("paymented") %></p>
          <% else  %>
          <span><%= t("unpayment") %></span>
          <% end %>   
          </div>
        <% else %>
          <div class="tables text-center">
            <div class="status">
              <div class="status-table">
                <p class="text-center"><%= room.name %></p>
              </div>
            </div>       
            <i class="fa fa-home"></i>         
          <p> status: <%= room.status %> </p>          
          </div>
        <% end %> 
      <% end %> 
    </div>
  <% end %>
</div>
<%= paginate @rooms, theme: t("theme_paging") %>
